/* begin some basic styling here */
body {
	background: #FFF;
	color: #000;
	font: normal normal 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0
}
table, th, td {
	color: #000;
	font: normal normal 9pt Verdana, Geneva, Arial, Helvetica, sans-serif
}

/* containers */
.menu-container {
    width: 100%;
    background: #EEE;
    padding: 2px 10px;
}
.plot1-container {
    clear: both;
    width: 400px;
    height: 400px;
    float: left;
}
.plot2-container {
    float: left;
    width: 400px;
    height: 400px;
}
.best-container {
	clear: both;
    border-style: solid;
    border-color: #FFF;
    border-top-width: 10px;
    border-left-width: 16px;
}
.stats-container {
	clear: both;
    border-style: solid;
    border-color: #FFF;
    border-top-width: 10px;
    border-left-width: 16px;
}

/* menu control formatting */
.button-cell {
    width: 70px;
    text-align: center;
    padding: 4px;
}
.chooser-cell {
    width: 130px;
    text-align: center;
    padding: 4px;
}
.slider-cell {
    width: 150px;
    padding: 4px;
}
button {
    width: 60px;
}

/* best candidate */
.best-box {
    width: 770px;
    height: 55px;    
    overflow-y: auto;
    font-size: 9pt;
    padding: 2px;
    border: 1px solid #000;
}

/* scrollable table formatting */
.tableContainer {
	clear: both;
	border: 1px solid #000;
	overflow: hidden;
	width: 774px;
}
div.tableContainer table {
	float: left;
}
thead.fixedHeader tr {
	display: block;
}
thead.fixedHeader th {
	background: #444;
    color: #FFF;
	padding: 2px 3px;
	text-align: left;
	width: 84px;
}
thead.fixedHeader th.rightHeader {
	width: 100px;
}
tbody.scrollContent {
	display: block;
	height: 262px;
	overflow: auto;
	width: 100%;
}
tbody.scrollContent td {
	width: 84px;
	padding: 2px 3px 3px 4px;
}
tbody.scrollContent tr.alt td {
	background: #DDD;
}

