/* begin some basic styling here */
body {
	background: #FFF;
	color: #000;
	font: normal normal 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 10px;
	padding: 0
}
table, th, td {
	color: #000;
	font: normal normal 9pt Verdana, Geneva, Arial, Helvetica, sans-serif
}

/* containers */
.plot-container {
    width: 500px;
    height: 300px;
    float: left;
}
.form-container {
    width: 240px;
    float: left;
    padding: 10px;
}
.best-container {
	clear: both;
    border-style: solid;
    border-color: #FFF;
    border-top-width: 10px;
    border-left-width: 16px;
}
.best-box {
    width: 736px;
    height: 55px;    
    overflow-y: auto;
    font-size: 9pt;
    padding: 2px;
    border: 1px solid #000;
}
.stats-container {
	clear: both;
    border-style: solid;
    border-color: #FFF;
    border-top-width: 10px;
    border-left-width: 16px;
}

/* scrollable table formatting */
.tableContainer {
	clear: both;
	border: 1px solid #000;
	height: 285px;
	overflow: hidden;
	width: 740px;
}
div.tableContainer table {
	float: left;
}
thead.fixedHeader tr {
	display: block;
}
thead.fixedHeader th {
	background: #444;
    color: #FFF;
	padding: 2px 3px;
	text-align: left;
	width: 80px;
}
thead.fixedHeader th.rightHeader {
	width: 96px;
}
tbody.scrollContent {
	display: block;
	height: 262px;
	overflow: auto;
	width: 100%;
}
tbody.scrollContent td {
	width: 80px;
	padding: 2px 3px 3px 4px;
}
tbody.scrollContent tr.alt td {
	background: #DDD;
}

